html {
  overflow: hidden;
}
body {
  background: url("../images/istockphoto-1082781702-170667a.jpg");
}
body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
nav,
footer {
  display: none !important;
}
.wrap {
  border-radius: 30px;
  background: #ffffff;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.btn-custom {
  border: 1px solid #ffffff !important;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  border: none;
}
.btn-custom:hover {
  color: black !important;
  background: #ffffff;
}
#help-card-login {
  display: block;
  /* transform: scale(0); */
  transform-origin: center left;
  top: -40px;
  right: -400px;
  transition: all 0.5s ease-in-out;
  max-width: 300px;
  animation: help-card-hide 0.5s ease-in-out both;
}
#help-card-login.active {
  display: block;
  /* transform: scale(1); */
  animation: help-card-show 0.5s ease-in-out both;
}

@keyframes help-card-show {
  0% {
    opacity: 0;
    transform: translate(0, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes help-card-hide {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -50px);
  }
}
