* {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
.navbar-brand {
  color: #eef1ff;
  font-weight: bold;
  margin: auto 20px auto 0;
  font-size: 1.5rem;
}
.navbar {
  background: #1572a1;
}
.nav-item > a {
  color: #eef1ff !important;
}
footer {
  gap: 12px;
  background: #1572a1;
  color: #eef1ff !important;
}
footer h3 {
  margin: 20px 0;
}
footer ul li {
  padding: 10px 20px;
}
footer ul li:hover {
  background: rgba(255, 255, 255, 0.2);
}
