* {
  box-sizing: border-box;
}
body,
html {
  /* font-family: "Roboto", sans-serif; */
  font-family: sans-serif;
}
h1,
h2,
h3 {
  font-weight: bold;
}
ul,
ol {
  list-style: none;
  padding: 0;
}

.heading-page {
  font-size: 5rem;
  color: rgb(50, 50, 200);
}
.heading-section {
  font-size: 3rem;
  color: rgb(50, 50, 200);
}
main section {
  margin: 100px 0;
}
.nav-link {
  font-weight: bold;
}
.top-bar {
  margin: 0;
  position: relative;
  height: 40px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.btn-1 {
  background: none;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 0;
  color: white;
}
.btn-1:hover {
  background: #ffffff;
  color: #1572a1;
}
nav {
  transition: all 0.3s ease-in-out;
}
.navbar-brand {
  color: #eef1ff;
  font-weight: bold;
  margin: auto 20px auto 0;
  font-size: 1.5rem;
}
.navbar {
  background: #175b7e;
  background: rgb(100, 100, 255);
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #ffffff;
}
.nav-item {
  padding: 5px 20px;
  border-radius: 10px;
}
.nav-item:hover,
.nav-item:focus {
  background: rgba(255, 255, 255, 0.2);
}
.nav-item > a {
  color: #eef1ff !important;
}
.navbar .btn-search {
  color: white;
  border: 1px #ffffff solid !important;
}
.navbar .btn-search:hover {
  color: #175b7e;
  background: #ffffff;
}
#dropdownAccount.dropdown-toggle::after {
  display: block !important;
  margin: auto 0 !important;
}
/* NAVIGATION : DROPDOWN MENU */
nav .dropdown .dropdown-menu {
  border-radius: 0;
  background-color: rgb(120, 120, 255);
  animation-name: dropdown-move-in;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}
nav .dropdown .dropdown-menu .dropdown-item {
  color: white;
}
nav .dropdown .dropdown-menu .dropdown-item:hover {
  background: rgba(0, 0, 0, 0.3);
}
button.navbar-toggler {
  color: white !important;
}

/* END OF DROPDOWN MENU */

@media only screen and (max-width: 768px) {
  nav .dropdown .dropdown-menu {
    animation-name: none;
    background: none;
    border: none;
    color: white !important;
  }
}
nav .dropdown .dropdown-menu .dropdown-item {
  padding: 10px 20px;
}
@keyframes dropdown-move-in {
  0% {
    opacity: 0;
    transform: translate(0, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.account-container,
div:has(> .account-container) {
  width: fit-content;
  overflow: hidden;
  transition: all 0.5s ease-in-out !important;
}
.account-container button:last-child {
  width: 0;
  text-decoration: none;
  opacity: 0;
  font-weight: bold;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.account-container:hover button:last-child {
  opacity: 1;
  width: fit-content;
  margin: auto 10px;
}
input[type="checkbox"] {
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
}
/* BEGIN: MODAL */
.modal {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  background: none !important;
  box-shadow: none !important;
  border: none;
  animation: modal-show 0.5s ease-in-out both !important;
}
.modal-header {
  background: rgb(70, 70, 150);
}
.modal-content {
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  border-radius: 30px 5px 30px 5px !important;
}
.modal-footer {
  border: none;
}
.modal-backdrop {
  transition: all 0.5s ease-in-out;
}

@keyframes modal-show {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes modal-hide {
  0% {
    transform: translate(-50%, -60%);
  }
  100% {
    transform: translate(-50%, -40%);
  }
}

.btn-secondary {
  background: rgb(70, 70, 100);
}
.btn-secondary:hover {
  background: rgb(50, 50, 80);
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal.fade {
  opacity: 1;
}
/* END OF: MODAL */
.badge {
  display: block;
  right: 0;
  background: orangered;
}
footer {
  gap: 12px;
  background: rgb(100, 100, 255);
  color: #eef1ff !important;
}
footer h3 {
  margin: 20px 0;
  font-weight: bold;
}
footer ul li {
  padding: 10px 20px;
}
footer ul li:hover {
  background: rgba(255, 255, 255, 0.2);
}
footer ul li a,
footer ul li button {
  text-decoration: none;
  color: white;
  padding: 0 !important;
}

footer ul li a:hover,
button:hover {
  color: rgb(255, 150, 150) !important;
}
.notification-container {
  z-index: 100;
  overflow: hidden;
  top: 30px;
  left: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  animation: notification-move-in 0.8s ease-in-out both;
}
.notification__head {
  background: rgb(100, 100, 200);
}
.notification__foot .processor {
  width: 100%;
  height: 10px;
  background: orange;
  animation: processing 5s linear both;
}
@keyframes notification-move-in {
  0% {
    transform: translate(0, -300px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes notification-move-out {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -300px);
  }
}
@keyframes processing {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.item-show {
  transform: translate(0, 100px);
  opacity: 0;
  animation-name: item-show;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes item-show {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
