<div class="container-md">
    <div class="my-5">
        <h1>Search Page</h1>
    </div>
    <div class="container-md">
        <div class="row">
            <form action="/search" method="GET" style="max-width: 500px;">
                <div class="d-flex gap-3 justify-content-center align-items-center">
                    <div class="col-11">
                        <input class="w-100" type="text" name="q" required>
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-outline-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>